.sp-operating-table {
  position: absolute;
  left: 0px;
  top: 0px;
  bottom: 0px;
  right: 0px;
  background: #fafafa;
  border-left: 1px solid #dae3e9;
  box-shadow: -3px 3px 3px -2px #f1f1f3;
  padding: 10px 0px;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;

  .sp-ot-slide {
    position: relative;
    box-shadow: 0 2px 6px rgba(0, 0, 0, .5);
    background: #fff;
    transform-style: preserve-3d;
    .sp-ot-dragger {
      //display: none; // todo: remove it when implemented
      opacity: 0.1;
      cursor: pointer;
      position: absolute;
      top: ~'calc(50% - 32px)';
      right: -32px;
    }
    .sp-ot-dragger:hover {
      opacity: 0.5;
    }
  }
}
