/* Base Application Styles */
@import "~bootstrap/less/variables";

html,
body {
  height: 100%;
}

.index img {
  margin: 40px auto;
  border-radius: 4px;
  background: #fff;
  display: block;
}

.index .notice {
  margin: 20px auto;
  padding: 15px 0;
  text-align: center;
  border: 1px solid #000;
  border-width: 1px 0;
  background: #666;
}

#app {
  /*
   For Medium devices (desktops, 992px and up), no page level scroll
  */
  @media (min-width: @screen-md-min) {
    height: 100%;
  }
  .showpreper-container {
    display: flex;
    flex-flow: column;
    align-items: stretch;
    height: 100%;
    overflow: hidden;
    .navbar {
      margin-bottom: 0px;
    }
    .showpreper-header {
      flex: 0 1 auto;
    }
    .showpreper-content {
      flex: 1 1 auto;
      height: 100%;
      display: flex;
      flex-flow: row;
      align-items: stretch;
      .slide-deck {
        flex: 0 1 200px;
        height: 100%;
        overflow: auto;
      }
      .slide-editor {
        flex: 1 1 auto;
        height: 100%;
        overflow: auto;
      }
    }
  }
}
