/* Base Application Styles */
@import "~bootstrap/less/variables";

html,
body {
  height: 100%;
}

#app {
  /*
   For Medium devices (desktops, 992px and up), no page level scroll
  */
  @media (min-width: @screen-md-min) {
    height: 100%;
  }
  .sp-container {
    display: flex;
    flex-flow: column;
    align-items: stretch;
    height: 100%;
    .sp-header{
      &.navbar {
        margin-bottom: 0px;
        .navbar-header  .dropdown {
          float: left;
          .badge{
            position: absolute;
            right: 5px;
          }
        }
        .sp-view-btns li button {
          width: 70pt;
        }
      }
    }
    .sp-content {
      flex: 1;
      display: flex;
      flex-flow: row;
      align-items: stretch;
      overflow: hidden;
      .slide-deck {
        flex: 0 1 200px;
        overflow: auto;
        // mitigate Chrome bug; see http://stackoverflow.com/questions/34325439
        z-index: 2;
      }
      .slide-editor {
        flex: 1 1 auto;
        position: relative;
        overflow: auto;
      }
    }
  }
}
