.sp-widget{
  position: absolute;
  .selected{
    border: orange 2px dashed;
  }
  .sp-edit-ctrls{
    visibility: hidden;
  }
  &.selected{
    .sp-edit-ctrls{
      visibility: visible;
    }
  }
  input {
    width: 2em;
    border: 0px;
  }
}
