#sp-styler-modal {
  .sp-styler-transparent-marker {
    width: 125px;
    height: 125px;
    margin: auto;
    background: url('./transparent.svg')
  }
  .sp-styler-preview {
    width: 100%;
    height: 100%;
  }
  [class*="col-"] {
    display: inline-block;
    vertical-align: middle;
    float: none;
  }
  .rw-widget{
    vertical-align: middle;
    display: inline-block;
  }
}
