#sp-quick-styler{
  vertical-align: middle;
  width: 135px;
  .sp-palette {
    width: 25px;
    height: 25px;
    float: left;
    margin: 1px;
    &.special-style{
      font-size: 25px;
    }
  }
}
