#sp-color-pattern-editor {
  .panel-heading {
    .material-icons {
      font-size: inherit;
    }
  }
  .sp-gradient-panel-container {
    line-height: 0;
    .sp-color-panel-base {
      background: url('../transparent.svg');
      .sp-color-panel {
        width: 100%;
        height: 40px;
      }
    }
  }
}
