.sp-bespoke-format-menu {
  img {
  }
  img.sp-bespoke-active-theme {
    height: 40px;
  }
  .dropdown-menu {
    width: 600px;
    li {
      display: block;
      float: left;
      height: 120px;
      width: 290px;
    }
  }
}
