/* Base Application Styles */
@import "~bootstrap/less/variables";

html,
body {
  height: 100%;
}

#app {
  height: 100%;
  .sp-container {
    display: flex;
    flex-flow: column;
    align-items: stretch;
    height: 100%;
  }
}

.centered-child {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
