.sp-overview {
  flex: 1;
  overflow: hidden;
  padding: 10px;
  .sp-overview-deck {
    position: relative;
    box-shadow: 0 2px 6px rgba(0, 0, 0, .5);
    .sp-overview-component {
      border: 1px dashed blue;
    }
  }
}
